<form #formEl="ngForm" (ngSubmit)="onSubmit(formEl)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel required email #emailCtrl="ngModel" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        ngModel
        required
        [minlength]="minPassLength"
        #passwordCtrl="ngModel" />
    </div>

    <button class="button">Login</button>
  </div>

  <!-- @if(formEl.form.invalid && formEl.form.controls['email'].touched) {
    <p class="control-error">
      Invalid email entered
    </p>
  } -->

  @if (emailCtrl.touched && emailCtrl.dirty && emailCtrl.invalid) {
    <p class="control-error">Invalid email address entered!</p>
  }

  @if (passwordCtrl.touched && passwordCtrl.dirty && passwordCtrl.invalid) {
    <p class="control-error">Password must be atleast {{ minPassLength }} characters!</p>
  }
</form>
