@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.hobby-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 34px;

  &:hover {
    cursor: pointer;
    color: red;
  }
}

.hobbies-btn {
  display: flex;
  gap: 10px;
}

.btn-danger {
  background-color: rgb(227, 64, 64);
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: red;
}
